body {
  color: #333;
}

.screen {
  width: 199px;
  text-align: right;
  font-size: 36px;
}

.keyboard {
  width: 240px;
}

.key {
  width: 48px;
  height: 48px;
  margin-top: 5px;
}

.key-long {
  width: 101px;
}
